extends layout

append head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .row-fluid
    .span12
      .row-fluid
        .hero-wrapper.span8
          .hero-unit.bio.blue
            h1.light-text Who I Am
            h3 A <span class="stress">Virginia Tech</span> graduate with a major in <span class="stress">Computer Science</span> and a minor in <span class="stress">Math</span>, I wear the many hats of a <span class="stress">Full Stack Engineer</span>, <span class="stress">Entrepreneur</span>, and a <span class="stress">Web / Mobile Hacker</span> with a healthy addiciton to Node and Backbone JS.
          .hero-unit.green.light-text
            h1 Recent Work
            ul.thumbnails.site-screens
              li.span4
                #debtcrunch.site.thumbnail: a(href="http://debtcrun.ch/", target="_blank")
                  img(src='/images/comingsoon.png').img-rounded
                  h4 DebtCrunch
                p.caption An enlightened debt analysis utility with an attitude.
                p.caption: <a href='http://backbonejs.org/', target='_blank'>Backbone.js</a>, <a href='http://www.w3schools.com/html5/html5_webstorage.asp', target='_blank'>HTML5 Local Storage</a>, <a href='http://nodejs.org/', target='_blank'>Node.js</a>, <a href='http://nginx.org/', target='_blank'>Nginx</a>, <a href='http://aws.amazon.com/', target='_blank'>AWS</a>
              li.span4
                #tonightlife.thumbnail: a(href="http://tonight-life.com/", target="_blank")
                  img(src='/images/tonightlife.png').img-rounded
                  h4 TonightLife
                p.caption The best way to find cool events in NYC.
                p.caption <a href='http://rubyonrails.org/', target='_blank'>Ruby on Rails</a>, <a href='http://www.mysql.com/', target='_blank'>MySQL</a>, <a href='http://httpd.apache.org/', target='_blank'>Apache</a>, <a href='http://aws.amazon.com/', target='_blank'>AWS</a>
              li.span4
                #newspaceglobal.thumbnail: a(href="http://www.newspaceglobal.com/", target="_blank")
                  img(src='/images/newspaceglobal.png').img-rounded
                  h4 NSG
                p.caption Providing strategic analyses on the NewSpace sector.
                p.caption <a href='http://drupal.org/', target='_blank'>Drupal</a>, <a href='http://www.mysql.com/', target='_blank'>MySQL</a>, <a href='http://httpd.apache.org/', target='_blank'>Apache</a>, <a href='http://aws.amazon.com/', target='_blank'>AWS</a>
          .hero-unit.pink.light-text
            h1 Tech I Love
            ul.thumbnails.tech-logos
              li.span3
                #nodejs.thumbnail
                  a(href='http://nodejs.org/', target='_blank')
                    img(src='/images/nodejs.png').img-rounded
              li.span3
                #backbonejs.thumbnail
                  a(href='http://backbonejs.org/', target='_blank')
                    img(src='/images/backbone.png').img-rounded
              li.span3
                #underscorejs.thumbnail
                  a(href='http://underscorejs.org/', target='_blank')
                    img(src='/images/underscore.png').img-rounded
              li.span3
                #rails.thumbnail
                  a(href='http://rubyonrails.org/', target='_blank')
                    img(src='/images/rails.png').img-rounded
            ul.thumbnails.tech-logos
              li.span3
                #html5-css3.thumbnail
                  a(href='http://html5.org/', target='_blank')
                    img(src='/images/html5_css3.png').img-rounded
              li.span3
                #mongodb.thumbnail
                  a(href='http://www.mongodb.org/', target='_blank')
                    img(src='/images/mongodb.png').img-rounded
              li.span3
                #nginx.thumbnail
                  a(href='http://nginx.org/', target='_blank')
                    img(src='/images/nginx.png').img-rounded
              li.span3
                #aws.thumbnail
                  a(href='http://aws.amazon.com/', target='_blank')
                    img(src='/images/aws-light.png').img-rounded
          .hero-unit.orange.light-text
            h1 Contact Me
            .contact-methods
              .row-fluid
                .span6
                  a(href='mailto:diegormnetto@gmail.com', target='_blank')
                    h3 Email
                .span6
                  a(href='http://www.linkedin.com/pub/diego-netto/25/a07/8aa', target='_blank')
                    h3 LinkedIn
              .row-fluid
                .span4
                  a(href='http://github.com/diegonetto', target='_blank')
                    h3 GitHub
                .span4 
                  a(href='http://twitter.com/diegonetto11', target='_blank')
                    h3 Twitter
                .span4 
                  a(href='http://blog.diegonetto.com', target='_blank')
                    h3 Tumblr
        .twitter-feed.span4
          h3.title Interesting New Tweets
          each tweet, t in tweets
            .tweet!= tweet.html
