extends layout

append head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .row-fluid
    .span12
      .row-fluid
        .hero-wrapper.span8
          .hero-unit.blue.light-text
            h1 Who I Am
            h3 A recent <span class="stress">Virginia Tech</span> graduate with a major in <span class="stress">Computer Science</span> and a minor in <span class="stress">Math</span>, I wear the many hats of a <span class="stress">Full Stack Engineer</span>, <span class="stress">Entrepreneur</span>, and a <span class="stress">Web / Mobile Hacker</span> with a healthy addiciton to Node and Backbone JS.
          .hero-unit.green.light-text
            h1 Recent Work
            ul
              li DebtCrun.ch
              li Tonight-Life.com
              li NewSpaceGlobal.com
          .hero-unit.pink.light-text
            h1 Tech I Love
            ul.thumbnails
              li.span3
                #nodejs.thumbnail
                  a(href='http://nodejs.org/', target='_blank')
                    img(src='/images/nodejs.png')
              li.span3
                #backbonejs.thumbnail
                  a(href='http://backbonejs.org/', target='_blank')
                    img(src='/images/backbone.png')
              li.span3
                #underscorejs.thumbnail
                  a(href='http://underscorejs.org/', target='_blank')
                    img(src='/images/underscore.png')
              li.span2
                #rails.thumbnail
                  a(href='http://rubyonrails.org/', target='_blank')
                    img(src='/images/rails.png')
              li.span2
                #html5-css3.thumbnail
                  a(href='http://html5.org/', target='_blank')
                    img(src='/images/html5_css3.png')
              li.span3
                #mongodb.thumbnail
                  a(href='http://www.mongodb.org/', target='_blank')
                    img(src='/images/mongodb.png')
              li.span3
                #nginx.thumbnail
                  a(href='http://nginx.org/', target='_blank')
                    img(src='/images/nginx.png')
              li.span3
                #aws.thumbnail
                  a(href='http://aws.amazon.com/', target='_blank')
                    img(src='/images/aws.png')
          .hero-unit.orange.light-text
            h1 Contact Me
            ul
              li diegormnetto [at] gmail [dot] com
              li LinkedIn
              li GitHub
              li Twitter
              li Tumblr Blog
        .twitter-feed.span4
          each tweet, t in tweets
            .tweet!= tweet.html
