extends layout

append head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .row-fluid
    .span12
      .row-fluid
        .hero-wrapper.span8
          .hero-unit.blue.light-text
            h1 Who I Am
            ul 
              li Recent Virginia Tech graduate. Majored in Computer Science, Minored in Math.
              li Full Stack Engineer
              li Web & Mobile hacker with a healthy addiction to Node.js and Backbone.js.
              li Entrepreneur
          .hero-unit.green.light-text
            h1 Recent Work
            ul
              li DebtCrun.ch
              li Tonight-Life.com
              li NewSpaceGlobal.com
          .hero-unit.red.light-text
            h1 Technologies I Love
            ul.thumbnails
              li.span3
                #nodejs.thumbnail
                  img(src='/images/nodejs.png')
              li.span3
                #backbonejs.thumbnail.lighten
                  img(src='/images/backbone.png')
              li.span3
                #underscorejs.thumbnail.lighten
                  img(src='/images/underscore.png')
              li.span2
                #rails.thumbnail
                  img(src='/images/rails.png')
              li.span2
                #html5-css3.thumbnail.lighten
                  img(src='/images/html5_css3.png')
              li.span3
                #mongodb.thumbnail.lighten
                  img(src='/images/mongodb.png')
              li.span3
                #nginx.thumbnail.lighten
                  img(src='/images/nginx.png')
              li.span3
                #aws.thumbnail.lighten
                  img(src='/images/aws.png')
          .hero-unit.orange.light-text
            h1 Contact Me
            ul
              li diegormnetto [at] gmail [dot] com
              li LinkedIn
              li GitHub
              li Twitter
              li Tumblr Blog
        .twittr-feed.span4
          each tweet, t in tweets
            .tweet!= tweet.html
