extends layout

block content
  .hero-unit
    h1 Hello World
    p Welcome to #{title}
  ul.twittr-feed
    each tweet, t in tweets
      li!= tweet.html
    li(style="height: 125px;width: 350px; background-color: black;")
