extends layout

block content
  .row-fluid
    .span12
      .row-fluid
        .hero-wrapper.span8
          .hero-unit
            h1 Who I Am
            p Todo
          .hero-unit
            h1 Recent Work
            p Todo
          .hero-unit
            h1 Contact Me
            p Todo
        .twittr-feed.span4
          each tweet, t in tweets
            .tweet!= tweet.html
