doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://platform.twitter.com/widgets.js')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
      |<script type="text/javascript">
      |  var _gaq = _gaq || [];
      |  _gaq.push(['_setAccount', 'UA-34750206-1']);
      |  _gaq.push(['_trackPageview']);
      |  (function() {
      |    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      |  })();
      |</script>

  body
    #main.container
      block content

    footer.container
      | <hr />
      | <a href="/">Diego Netto</a> &copy 2012<br />
      | Powered by <a href="http://nodejs.org/" target="_blank">Node.js</a>, <a href="http://www.mongodb.org/" target="_blank">MongoDB</a> and <a href="http://nginx.org/" target="_blank">Nginx</a><br />
      | Source available on <a href="http://github.com/diegonetto/diegonetto.com">GitHub</a>
