doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://platform.twitter.com/widgets.js')
    | <meta name="viewport" content="width=device-width, initial-scale=1.0">
  body
    .container
      block content
