
.hero-unit {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15),
                            0 10px 25px 0 rgba(0, 0, 0, 0.15);

  border: 1px solid #B1B1B1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; 
}

.hero-unit > h1 {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.hero-wrapper {
  padding-top: 8px;
}

.tech-logo {

}

.thumbnails {
  margin-top: 10px;
  margin-left: 45px !important;
}

.thumbnail {
  border: none;
  box-shadow: none;
}

.thumbnail img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.lighten {
/*  background-color: WhiteSmoke;
  border: 1px solid #871B2C; */
}

#nodejs {
  margin-left: 0px;
  margin-top: 30px;
}

#backbonejs,
#underscorejs {
  margin-top: 40px;
}

#html5-css3 {
  margin-left: -30px;
}

#mongodb {
  margin-top: 11px;
}

#nginx {
  margin-top: 22px;
}

#aws {
  margin-top: 7px;
}
