body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image:url(/images/noise.png);
}

a,
a:visited {
  color: #2D8AD6;
}

a:hover {
  color: Navy;
  text-decoration: none;

  -webkit-transition: all 0.2s ease-in;
     -moz-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.light-text {
  color: GhostWhite !important;
}

.dark-text {
  color: black;
}

.orange {
  background-color: #DB5014;
}

.red {
  background-color: #C72840;
}

.blue {
  background-color: #2D8AD6;
}

.green {
  background-color: #71bc52
}

footer {
  text-align: center;
  color: Navy;
}

footer a,
footer a:visited {
  color: #DB5014;
}

footer a:hover {
  color: Navy;
  text-decoration: none;
}
